/* Write your CSS here */
.bgContainer {
  height: 100vh;
  background-color: #fff;
  padding: 20vh;
}
.innerContainer {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #b5b9ff;
  border-radius: 20px;
}
